<h1>Card</h1>
<div id="card">
    {{#if card.games.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each card.games}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>{{price}}</td>
                <td><button class="btn btn-small" data-id="{{id}}">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Price: <span class="price">{{card.price}}</span></p>
    {{else}}
    <p>Card emty</p>
    {{/if}}
</div>