<h1>Card</h1>
{{!-- <h1>{{cart.length}}</h1> --}}
<div id="cart">
    {{#if cart.length}}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Count</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart}}
            <tr>
                <td>{{gameId.title}}</td>
                <td>{{count}}</td>
                <td>{{gameId.price}}</td>
                <td><button class="btn btn-small" data-id="{{id}}">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p>Price: <span class="price">{{calcPrice}}</span></p>
    {{else}}
    <p>Card emty</p>
    {{/if}}
</div>