<h1>Edit {{title}}</h1>

<form action="/games/edit" method="POST" enctype="multipart/form-data">
    <div class="input-field ">
        <input id="title" name="title" type="text" class="validate" value="{{title}}" required>
        <label for="title">Name of the Game</label>
        <span class="helper-text" data-error="Enter the title"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" value="{{price}}" required min="0">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Enter the price"></span>
    </div>

    <div class="file-field input-field">
        <div class="btn">
            <span>Select Image</span>
            <input type="file" name="image" required value="{{img}}">
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
        </div>
        <span class="helper-text" data-error="Select the price"></span>
    </div>

    <input type="hidden" name="id" value="{{id}}">

    <button type="submit" class="btn btn-primary">Edit</button>
</form>

<form class="delete-form" action="/games/delete" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <button class="btn red" type="submit">Delete</button>
</form>