<h1>Games</h1>

{{#if games.length}}
<div class="row">
    {{#each games}}

    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{img}}">
                <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content">
                <p class="price"></p>
            </div>
            <div class="card-action">
                <a href="/games/{{id}}">Open the Game</a>
                <a href="/games/{{id}}/edit">Edit the Game</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Games not found</p>
{{/if}}