<h1>Games</h1>

{{#if games.length}}
<div class="row">
    {{#each games}}

    <div class="col m4">
        <div class="card">
            <div class="card-image">
                <img src="img/{{img}}" alt="{{img}}">
                <span class="card-title">{{title}}</span>
            </div>
            <div class="card-content">
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action buttons">
                <a href="/games/{{id}}">Open</a>
                <a href="/games/{{id}}/edit">Edit</a>
                <form action="/card/buy" method="POST">
                    <input type="hidden" name="id" value="{{id}}">
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>Games not found</p>
{{/if}}